.underlined {
    text-decoration: underline;
}

.highlighted {
    background-color: orange;
}

.redfont {
    color: red;
    font-weight: bold;
}

.calculator-table,
.summary-table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.calculator-table th,
.calculator-table td,
.summary-table th,
.summary-table td {
    border: 1px solid #ccc;
    padding: 12px 18px;
}

.calculator-table .table-header,
.summary-table .table-header {
    background-color: #0039A6;
    color: white;
}

.calculator-table .table-header,
.summary-table .table-header {
    background-color: #0039A6;
    color: white;
}

.calculator-table tr:nth-child(even),
.summary-table tr:nth-child(even) {
    background-color: #f2f6fc;
}

.calculator-table tr:hover,
.summary-table tr:hover {
    background-color: #e1ebf8;
}